Repository munirmardinli/homelab-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, codeing, tests, dependencies, configuration, workflow

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

codeing:
  - changed-files:
      - any-glob-to-any-file: "**/*.ts"

tests:
  - changed-files:
      - any-glob-to-any-file: "**/*.test.*"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/*package.json"
  - changed-files:
      - any-glob-to-any-file: "**/*package-lock.json"

configuration:
  - changed-files:
      - any-glob-to-any-file: "*.config.*"
  - changed-files:
      - any-glob-to-any-file: "**/*.json"
  - changed-files:
      - any-glob-to-any-file: "**/*.d.ts"

workflow:
  - changed-files:
      - any-glob-to-any-file: "**/workflows/**.yml"
  - changed-files:
      - any-glob-to-any-file: "**/Dockerfile*"

deploy: 221ef2442fc89404ba2bc0d7f2bff7d52655f1e8
  sitemap.xml
Labels: none

add login direct to ssh
  .docker/Dockerfile
  .docker/docker-compose.yml
  .github/workflows/producation.yml
  package-lock.json
  src/utils/ssh.ts
Labels: codeing, dependencies, configuration, workflow

deploy: 993edd640264eab1d4c2b3e7d929f6d97e3eff6e
  sitemap.xml
Labels: none

restore
  src/utils/ssh.ts
Labels: codeing

deploy: d1c481d83cff9cf45f8107231dc64a2d6f622492
  sitemap.xml
Labels: none

test new feature
  .docker/Dockerfile
  .docker/docker-compose.yml
  .gitignore
  package-lock.json
  package.json
  src/utils/ssh.ts
Labels: codeing, dependencies, configuration, workflow

deploy: 6030afc5c5996e3dad1448c92cc7981c1e23b4c7
  sitemap.xml
Labels: none

feature II
  .docker/Dockerfile
  package-lock.json
  src/utils/cli.ts
  src/utils/ssh.ts
Labels: codeing, dependencies, configuration, workflow

deploy: 351d66ee0d8e457e28e4df911cf3d73b429f4f10
  sitemap.xml
Labels: none

test
  src/utils/ssh.ts
Labels: codeing

deploy: f962980a90a5c491811104e455b4de0dbfa9a604
  sitemap.xml
Labels: none

bug fix env
  src/utils/ssh.ts
Labels: codeing

deploy: aaf1bc60c6e162a49965745d4d8baf93793da751
  sitemap.xml
Labels: none

add session ssh
  .docker/Dockerfile
  src/utils/cli.ts
  src/utils/ssh.ts
Labels: codeing, workflow

deploy: f07d7b21190d2faa3ef868774539db6ca4fc5b1d
  assets/search.js
  classes/utils_ssh.SshUtil.html
  docs.json
  sitemap.xml
Labels: configuration

add PRD folder
  .cursor/PRD/.gitkeep
  .cursorignore
  .gitignore
Labels: none

deploy: d31488fdcbaaa5c71481645daabc4aa6c6da3f20
  sitemap.xml
Labels: none

delete node-fetch
  .cursorignore
  .vscode/settings.json
  package-lock.json
  package.json
  src/utils/cli.ts
  src/utils/file.ts
Labels: codeing, dependencies, configuration

deploy: 85c19cfd2cded6049fe885b8ff8452b6d81f3a6d
  sitemap.xml
Labels: none

add trivy
  .github/workflows/producation.yml
  .github/workflows/trivy.yml
Labels: workflow

deploy: 27850d0d818b856783357785358ed8857835e379
  sitemap.xml
Labels: none

fix trivy
  .github/workflows/trivy.yml
Labels: workflow

deploy: daed5b73074613c8e59819dbd60237dd8a693d11
  sitemap.xml
Labels: none

try new version from trivy
  .github/workflows/trivy.yml
Labels: workflow

deploy: 02e3e720ea85c676e946684220ab7ee5a817fdce
  sitemap.xml
Labels: none

trivy latest
  .github/workflows/trivy.yml
Labels: workflow

deploy: 37581db05c1a7f405a5d1ffd96f01c650af92491
  sitemap.xml
Labels: none

use trivy neq syntax
  .github/workflows/trivy.yml
Labels: workflow

deploy: c7525eaa980b2f635ceb42c9bf15ed055ac4b27a
  sitemap.xml
Labels: none

trivy new methode
  .github/workflows/trivy.yml
Labels: workflow

deploy: 8fcf87f3e12a2bf866f4bee4938e952ce330300e
  sitemap.xml
Labels: none

try trivy
  .github/workflows/trivy.yml
Labels: workflow

deploy: 0875c49395c12a14d5735f6648f3e11eee4facb6
  sitemap.xml
Labels: none

bug fix syntax tricy
  .github/workflows/trivy.yml
Labels: workflow

deploy: d73050ac2a310efec3bc15a26e5deb373d362b51
  sitemap.xml
Labels: none

bug fix
  .docker/Dockerfile
  .github/workflows/trivy.yml
  .trivyignore
Labels: workflow

add build for trivy
  .github/workflows/trivy.yml
Labels: workflow

deploy: 8d868b15c2398d2e737623aa93993110897c3fdb
  sitemap.xml
Labels: none

deploy: e63a2b7ae32ed8a13054eb648bc7765edeeac9da
  sitemap.xml
Labels: none

deploy: 2631f96e08fe9542365a4a80ad552efab9e12d4d
  sitemap.xml
Labels: none
