Repository munirmardinli/homelab-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, codeing, tests, dependencies, configuration, workflow

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

codeing:
  - changed-files:
      - any-glob-to-any-file: "**/*.ts"

tests:
  - changed-files:
      - any-glob-to-any-file: "**/*.test.*"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/*package.json"
  - changed-files:
      - any-glob-to-any-file: "**/*package-lock.json"

configuration:
  - changed-files:
      - any-glob-to-any-file: "*.config.*"
  - changed-files:
      - any-glob-to-any-file: "**/*.json"
  - changed-files:
      - any-glob-to-any-file: "**/*.d.ts"

workflow:
  - changed-files:
      - any-glob-to-any-file: "**/workflows/**.yml"
  - changed-files:
      - any-glob-to-any-file: "**/Dockerfile*"

fix: bug fix workflow
  .github/workflows/producation.yml
  package.json
  tsconfig.json
Labels: dependencies, configuration, workflow

fix: delete node type
  tsconfig.json
Labels: configuration

chore: test monorepo
  package-lock.json
  package.json
  packages/cli/package.json
  packages/cli/tsconfig.json
Labels: dependencies, configuration

chore: bug fix ci
  packages/cli/package.json
Labels: dependencies, configuration

fix: fix ci with workspace script
  package-lock.json
  package.json
  packages/cli/package.json
Labels: dependencies, configuration

restore
  .github/workflows/producation.yml
Labels: workflow

add cache
  .github/workflows/producation.yml
Labels: workflow

add type property
  .github/workflows/producation.yml
  packages/cli/package.json
Labels: dependencies, configuration, workflow

try caching and typing
  .github/workflows/producation.yml
  packages/cli/package.json
  tsconfig.json
Labels: dependencies, configuration, workflow

try caching and typing
  .github/workflows/producation.yml
Labels: workflow

try caching and typing
  .github/workflows/producation.yml
Labels: workflow

change files
  .github/workflows/producation.yml
  config/tsconfig.base.json
  config/tsconfig.docs.json
  config/tsconfig.eslint.json
  eslint.config.mjs
  package-lock.json
  package.json
  packages/cli/README.md
  packages/cli/dotenv.d.ts
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  src/index.ts
  src/types/types.ts
  src/utils/cli.ts
  src/utils/file.ts
  src/utils/parse.ts
  src/utils/quote.ts
  src/utils/ssh.ts
  tsconfig.json
Labels: documentation, codeing, dependencies, configuration, workflow

fix tsconfig
  package.json
  tsconfig.json
Labels: dependencies, configuration

reinstall type
  .github/Dockerfile
  .github/workflows/codeql.yml
  .github/workflows/producation.yml
  eslint.config.mjs
  package-lock.json
  package.json
  src/utils/cli.ts
Labels: codeing, dependencies, configuration, workflow

workarround cache
  .github/workflows/producation.yml
Labels: workflow

restore workflow
  .github/workflows/producation.yml
  config/tsconfig.base.json
  config/tsconfig.docs.json
  config/tsconfig.eslint.json
  eslint.config.mjs
  src/index.ts
  src/utils/cli.ts
  src/utils/parse.ts
  tsconfig.json
Labels: codeing, configuration, workflow

test
  .github/workflows/producation.yml
Labels: workflow

initt test
  .github/workflows/producation.yml
Labels: workflow

delete cache
  .github/workflows/producation.yml
Labels: workflow

add typechecker
  .github/workflows/producation.yml
  config/tsconfig.base.json
  config/tsconfig.typecheck.json
  tsconfig.json
Labels: configuration, workflow

delete lint
  .github/workflows/producation.yml
  config/tsconfig.docs.json
  config/tsconfig.eslint.json
  config/tsconfig.typecheck.json
  package-lock.json
  package.json
  tsconfig.json
Labels: dependencies, configuration, workflow

try fix
  .github/workflows/producation.yml
  package-lock.json
  package.json
  tsconfig.json
Labels: dependencies, configuration, workflow

update type
  package-lock.json
  package.json
Labels: dependencies, configuration

delete globaly node_env
  .docker/Dockerfile
  .docker/docker-compose.yml
  .github/workflows/producation.yml
Labels: workflow

deploy: b4341a9901de2a33c764cb64df2d46b559b76d40
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/utils_cli.Cli.html
  classes/utils_file.FileUtil.html
  classes/utils_parse.ParseUtil.html
  classes/utils_quote.StringQuoter.html
  classes/utils_ssh.SshUtil.html
  docs.json
  hierarchy.html
  index.html
  modules.html
  modules/index.html
  modules/types_types.html
  modules/utils_cli.html
  modules/utils_file.html
  modules/utils_parse.html
  modules/utils_quote.html
  modules/utils_ssh.html
  sitemap.xml
  types/types_types.Env.html
  types/types_types.EnvFunction.html
  types/types_types.EnvObject.html
  types/types_types.ParsedToken.html
Labels: configuration

bug fix docker ssh
  .docker/Dockerfile
Labels: workflow

deploy: c45c53b247ec6947db93f7e4eae1132d823578e1
  sitemap.xml
Labels: none

bug fix docker sshs
  .github/workflows/producation.yml
Labels: workflow

bug fix docker sshss
  .docker/Dockerfile
Labels: workflow

add eslint and prettier
  .docker/Dockerfile
  .github/workflows/producation.yml
  config/tsconfig.typecheck.json
  src/utils/ssh.ts
Labels: codeing, configuration, workflow

igonre eslint.config.mjs
  eslint.config.mjs
Labels: configuration

rechange postfix to js
  eslint.config.js
Labels: configuration

install eslint/js
  package-lock.json
  package.json
Labels: dependencies, configuration

add devcontainer
  .devcontainer/.env.development
  .devcontainer/Dockerfile.Dev
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .docker/Dockerfile
  .vscode/settings.json
  package-lock.json
  package.json
Labels: dependencies, configuration, workflow

deploy: c70a41077878ae6c4960409376a209c1387b1ec4
  sitemap.xml
Labels: none

deploy: 620d37a026418507f2db2a95a3214a25ec4353eb
  sitemap.xml
Labels: none

chore: edit docker-compose
  .docker/docker-compose.yml
Labels: none

edit dockerfile
  .docker/Dockerfile
Labels: workflow

deploy: 0a71c49d534a19a794eb448c9ccab5fab5682211
  sitemap.xml
Labels: none

add ssh packages
  .docker/Dockerfile
Labels: workflow
