Repository munirmardinli/homelab-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, codeing, tests, dependencies, configuration, workflow

deploy: ab0df634778b915ac1aa49906b4cdb118e34e1e1
  sitemap.xml
Labels: none

add preview
  .docker/docker-compose.yml
  .github/workflows/gitguardian.yaml
  .github/workflows/producation.yml
  .github/workflows/trivy.yml
Labels: workflow

fix workflow
  .github/workflows/producation.yml
Labels: workflow

deploy: dcb54bc90392e13170bec88aca8d6a2364ab0b15
  sitemap.xml
Labels: none

pref: workflow
  .github/workflows/producation.yml
Labels: workflow

deploy: 4c38088f6ff84412c1cfb6507ab4efb586fe68de
  sitemap.xml
Labels: none

rename workflow
  .github/workflows/producation.yml
Labels: workflow

deploy: 5bbba99e76c05988270b7c1400d220be8e5daa90
  sitemap.xml
Labels: none

gitstream test
  .github/gitstream.yml
  .github/workflows/producation.yml
Labels: workflow

bug fix gitstream
  .github/gitstream.yml
Labels: none

deploy: cb75742a2cc306f27c481f5e9978561d93293d10
  sitemap.xml
Labels: none

change rule (gitstream)
  .github/gitstream.yml
  .github/workflows/codeql.yml
Labels: workflow

deploy: f2f53cf49ea032b5181517b3f17c55440feaf0e4
  sitemap.xml
Labels: none

deploy: 5bacebab55290b6faf519728e4092c0103a5af51
  sitemap.xml
Labels: none

deploy: db82ab0fbb1430bf0d865a46b34e512e2c7849a0
  sitemap.xml
Labels: none

bug fix securtiy
  package-lock.json
  src/utils/quote.ts
Labels: codeing, dependencies, configuration

deploy: bbe3a2a9ad1f0c0b8fe1cc40d5647825f54ecb6b
  sitemap.xml
Labels: none

bug fix quote
  src/utils/quote.ts
Labels: codeing

deploy: 1cf28b0c4e526f4397278a6bd033c3ec1e901757
  sitemap.xml
Labels: none

bug fix props
  src/utils/quote.ts
  src/utils/ssh.ts
Labels: codeing

bug fix
  src/utils/cli.ts
Labels: codeing

fix prettier
  .docker/Dockerfile
  src/utils/cli.ts
Labels: codeing, workflow

deploy: f176419d9640f02449f08d593c0b9ec5ed4040f6
  classes/utils_ssh.SshUtil.html
  docs.json
  sitemap.xml
Labels: configuration

bug fix token
  src/utils/parse.ts
  src/utils/quote.ts
Labels: codeing

deploy: 3265cb3a7cc6619e00360dca787e8eb4d06a6895
  classes/utils_parse.ParseUtil.html
  docs.json
  sitemap.xml
Labels: configuration

cd gitstream
  .github/workflows/gitstream.yml
Labels: workflow

deploy: ff45d47e52268fd0e64451b9b9291c65d3c1f97e
  sitemap.xml
Labels: none

bug fix gitstream
  .github/workflows/gitstream.yml
Labels: workflow

deploy: 76f62ae8ea17845a6c78ac5f1f841378ac3f9a33
  sitemap.xml
Labels: none

add premission for labeler
  .github/workflows/labeler.yml
  src/utils/ssh.ts
Labels: codeing, workflow

bug fix workflow
  .github/workflows/gitstream.yml
  src/utils/ssh.ts
Labels: codeing, workflow

restore workflow
  .github/workflows/gitstream.yml
  .github/workflows/labeler.yml
Labels: workflow

bug fix linting
  src/utils/ssh.ts
Labels: codeing

deploy: 79e74a94ca5adf570bd27668a39e0984dc3edc39
  classes/utils_ssh.SshUtil.html
  docs.json
  sitemap.xml
Labels: configuration

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

codeing:
  - changed-files:
      - any-glob-to-any-file: "**/*.ts"

tests:
  - changed-files:
      - any-glob-to-any-file: "**/*.test.*"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/*package.json"
  - changed-files:
      - any-glob-to-any-file: "**/*package-lock.json"

configuration:
  - changed-files:
      - any-glob-to-any-file: "*.config.*"
  - changed-files:
      - any-glob-to-any-file: "**/*.json"
  - changed-files:
      - any-glob-to-any-file: "**/*.d.ts"

workflow:
  - changed-files:
      - any-glob-to-any-file: "**/workflows/**.yml"
  - changed-files:
      - any-glob-to-any-file: "**/Dockerfile*"
